* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: rgb(18, 161, 154);
    height: 400px;
}
.image1 {
    width: 500px;
}
h1 {
    font-size: 30px;
    margin-top: 35px;
    margin-left: 40px;
    color: white;
}
.titre {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 70px;
}
a {
    text-decoration: none;
}
.menu {
    list-style-type: none;
    margin-left: 400px;
    margin-top: 70px;
}
.menu ul {
    display: none;
    list-style-type: none; 
    margin: 0px;
    padding: 0px;
}
.menu li:hover ul {
    display: flex ;
    flex-direction: row;
    position: absolute;
    top: 20px; 
    left: 0px; 
    z-index: 100;
    font-size: 30px;
}
.menu li {
    position: relative;
    width: 200px;
    font-size: 30px;
}
.menu li a {
    color: white;
}
.a {
    border: 1px solid white;
    border-radius: 20px;
    padding: 5px;
}
.a:hover {
    background-color: white;
}
.menu li a:hover {
    color: black;
}
.menu li ul li {
    border: 1px solid black;
    margin-left: 15px;
    margin-top: 50px;
    width: fit-content;
}
form {
    display: flex;
    justify-content: center;
}
input {
    width: 500px;
}
.conteneur2 {
    display: flex;
    flex-direction: column;
}
h2 {
    color: chocolate;
    margin-top: 50px;
    text-align: center;
}
h3 {
    color: chocolate;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}
.conteneur3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto;
    max-width: 1200px;
}
.image2 {
    max-width: 100%;
}
h4 {
    text-align: center;
    margin-bottom: 20px;
}
.vignette {
    width: 20%;
    margin-left: 30px;
    margin-bottom: 30px;
    border: 1px dotted black;
}
h4 {
    font-size: 25px;
}